textarea {
    width: 100%;
    resize: none;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.navbar-item > img {
    padding-right: 0.5rem;
}

.section {
    padding: 1.5rem;
}

.card-header-title > button {
    margin-right: 0.5rem;
}

.card:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card-content {
    padding: 0; /* 0.5rem;*/
}
