textarea {
    width: 100%;
    resize: none;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

.navbar-item > img {
    padding-right: 0.5rem;
}

.navbar-item > .button.is-loading {
    pointer-events: auto;
}

.section {
    padding: 1.5rem;
}

.card-header-title > .button {
    margin-right: 0.25rem;
}

.card-header-title > input {
    width: 8rem;
    margin-right: 0.2rem;
}

.card:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card-header-title {
    padding: 0 4px;
}

.card-header-icon {
    padding: 0 4px;
}

.card-content {
    padding: 0; /* 0.5rem;*/
}

.dirty {
    border-color: darkred;
    border-width: 3px;
    border-style: solid;
}

pre.stdout {
    padding: 0;
    margin: 0 4px;
}

pre.error {
    padding: 0;
    margin: 0 4px;
    color: darkred;
    background-color: #f4e7e7;
}

pre.result {
    background-color: white;
    padding: 0;
    margin: 0 4px;
}
